Naming convention violation. Not used
Extract into TDataSet helper. This pollutes DM public API
Violates